{% extends 'base/base.html' %}
{%block title %} YesBlog| Home Page {% endblock %}
 {%block navbar %}
<h1 style="color: white">YesBlog| Front Page</h1>
{% endblock %} 
{% block body %}
<div class="container" style="margin: 25px; padding: 25px;justify-content: space-between;">
    <div class="col">
      <div class="col">
        {% for post in posts %}
        <div class="card" style="width: 58rem;margin: 25px;padding: 25px;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body" style="color: rgba(10, 33, 10, 0.898)">
            <h6>{{post.created_at|timesince}} Ago</h6>
            <h6 style="color: #222;">{{post.created_at}}</h6>
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              {{post.intro}}
            </p>
            <a href="/detail/{{post.slug}}/"class="btn btn-primary">Explore More! </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
